In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# добавим к датасету столбец profit для дальнейших вычислений
data['profit'] = data.revenue - data.budget

# поскольку в задачах нигде не используется число релиза фильма, а год есть в отдельной колонке, 
# заменим содержимое колонки release_date на название месяца релиза фильма на русском языке (как в вариантах ответов :) )
# strftime (%B) вкупе с локализацией не используем, дабы получить названия месяцев на русском языке в именительном падеже
def month_name (x):
    m = {
        1:"Январь", 2:"Февраль", 3:"Март", 4:"Апрель", 5:"Май", 6:"Июнь", 
        7:"Июль", 8:"Август",9:"Сентябрь",10:"Октябрь", 11:"Ноябрь", 12: "Декабрь"
    }
    x = int(x)
    return m[x]

release_date = pd.to_datetime(data['release_date'])   # в отдельной серии преобразуем к формату Даты
release_date = release_date.apply(lambda x: x.strftime('%m')) # заменим дату на номер месяца
data.release_date = release_date.apply (month_name)           # заменим в исходном датасете дату на название месяца на русском 

# создадим датасет, разбитый по жанрам
data_genr = data.copy() 
data_genr['genres'] = data_genr.genres.str.split('|')
data_genr=data_genr.explode('genres')  

# создадим датасет, разбитый по режиссерам
data_dir = data.copy()
data_dir['director'] = data_dir.director.str.split('|')
data_dir=data_dir.explode('director')

# создадим датасет, разбитый по актерам
data_actor = data.copy()
data_actor['cast'] = data_actor.cast.str.split('|')
data_actor=data_actor.explode('cast') 

# создадим датасет, разбитый по студиям
data_prod = data.copy()
data_prod['production_companies'] = data_prod.production_companies.str.split('|')
data_prod=data_prod.explode('production_companies')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,Май,6.3,2011,641683000

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data[["original_title", "imdb_id"]][data.budget==data.budget.max()]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'
# +

In [10]:
data[["original_title", "imdb_id"]][data.runtime==data.runtime.max()]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
#+

In [12]:
data[["original_title", "imdb_id"]][data.runtime==data.runtime.min()]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110'
#+

In [14]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107'
#+

In [16]:
round (np.median (data.runtime))

107

In [17]:
# или, если проще
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# вынесен
answers['6'] = '239. Avatar (tt0499549)'
#+

In [19]:
data[["original_title", "imdb_id"]][data.profit==data.profit.max()]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
#+

In [21]:
data[["original_title", "imdb_id"]][data.profit==data.profit.min()]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1478'
#+

In [23]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '599. The Dark Knight (tt0468569)'
#+

In [25]:
data_9 = data[data['release_year'] == 2008] #или data_9 = data.query('release_year == 2008')
data_9[["original_title", "imdb_id"]][data_9.revenue == data_9.revenue.max()]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [26]:
# вариант с сортировкой
data[data.release_year==2008].sort_values(by='revenue',ascending=False)['original_title'].iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
#+

In [28]:
data_10 = data[(data['release_year'] > 2012) & (data['release_year'] < 2014)]
data_10[["original_title", "imdb_id"]][data_10.profit == data_10.profit.min()]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [29]:
# вариант через сортировку
data[(data['release_year'] > 2012) & (data['release_year'] < 2014)].sort_values(by='profit',ascending=True)['original_title'].iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = 'Drama'
#+

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data_genr.genres.value_counts().index[0]  #data_genr создали в Предобработке

'Drama'

ВАРИАНТ 2

In [32]:
# вариант 2 с использованием библиотеки collections

cnt_genres = Counter()  # словарь класса Counter для подсчета количества уникальных жанров в датасете

data_11 = data.genres.str.split('|')

for i in range (0, len (data_11)):
    cnt_genres.update (data_11[i])   
   
cnt_genres.most_common(1)

[('Drama', 782)]

In [33]:
# вариант 3 с использованием "чистого" словаря (чтобы не забыть, как программировать процедурно)

full_genres = []    # полный список жанров
unique_genres = {}  # словарь для хранения уникальных значений жанров и их количества в датасете

data_11 = data.genres.str.split('|')

for i in range (0, len (data_11)):
    for j in range (0, len (data_11[i])):
        full_genres.append (data_11[i][j])  

for genres in full_genres:
    if genres not in unique_genres:
        unique_genres[genres] = 1
    else:
        unique_genres[genres] += 1
       
      
series_unique_genres = pd.Series (unique_genres)
series_unique_genres [(series_unique_genres == series_unique_genres.max())]

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
answers['12'] = 'Drama'
#+

In [35]:
data_genr.query('profit>0').genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [36]:
answers['13'] = 'Peter Jackson'
#+

In [37]:
# Используем заранее созданный датасет data_dir

data_13 = data_dir.groupby('director').sum()
data_13[data_13.revenue == data_13.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [38]:
answers['14'] = 'Robert Rodriguez'
# +

In [39]:
data_dir[data_dir.genres.str.contains('Action')].director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
answers['15'] = 'Chris Hemsworth'
# +

In [41]:
data_actor_2012 = data_actor.query('release_year == 2012').groupby('cast').sum()
data_actor_2012[data_actor_2012.revenue == data_actor_2012.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
answers['16'] = 'Matt Damon'
# +

In [43]:
data_actor[data_actor.budget > data_actor.budget.mean()].groupby('cast').original_title.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
answers['17'] = 'Action'
# +

In [45]:
d17_1 = data_genr[['imdb_id','genres']]
d17_2 = data_actor[data_actor.cast.str.contains('Nicolas Cage')][['imdb_id', 'cast']]
d17 = d17_1.merge(d17_2, how = 'inner', on = 'imdb_id')
d17.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [47]:
# Используем заранее созданный датасет data_prod

data_18 = data_prod[data_prod.production_companies.str.contains('Paramount Pictures')]
data_18 = data_18[['original_title','profit']][data_18.profit == data_18.profit.min()]
display (data_18)

           original_title    profit
925  K-19: The Widowmaker -64831034

In [48]:
# Вариант через сортировку

data_prod.loc[data_prod.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit',ascending=True)[['original_title','profit']].iloc[0]

original_title    K-19: The Widowmaker
profit                       -64831034
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = '2015'
# +

In [50]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20'] = '2014'
# +

In [52]:
data_prod[data_prod.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21'] = 'Сентябрь'
# +

In [54]:
data.groupby('release_date').imdb_id.count().sort_values(ascending=False).index[0]

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = '450'
# +

In [56]:
len (data.query('release_date =="Июнь" or release_date == "Июль" or release_date == "Август"'))

450

In [57]:
# второй вариант

data_22 = data.groupby('release_date').imdb_id.count()
data_22['Июнь']+data_22['Июль']+data_22['Август']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:
answers['23'] = 'Peter Jackson'
# +

In [59]:
data_dir.query('release_date =="Декабрь" or release_date == "Январь" or release_date == "Февраль"').groupby ('director').imdb_id.count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
answers['24'] = 'Four By Two Productions'
# +

In [61]:
# создадим датасет со студиями и количеством символов в названии фильма на основе созданного в предобработке data_prod
data_24 = pd.DataFrame (data_prod['production_companies'])
data_24['len_of_title'] = data_prod['original_title'].apply(len) 

# получаем результат
data_24.groupby('production_companies').len_of_title.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
answers['25'] = 'Midnight Picture Show'
# +

In [63]:
# создадим датасет со студиями и количеством слов в описании фильма а основе созданного в предобработке data_prod
data_25 = pd.DataFrame (data_prod['production_companies'])
data_overview = data_prod.overview.str.split(' ')
data_25['qword_of_overview'] = data_overview.apply (len) 

# получаем результат
data_25.groupby('production_companies').qword_of_overview.mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [65]:
data_26 = data[data.vote_average > data.vote_average.quantile(q=0.99)]
data_26[['original_title','vote_average']].sort_values('vote_average',ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
# +

In [72]:
# вариант 1 с традиционным "взрывом"
actors_tog = data.copy()
actors_tog['cast'] = actors_tog.cast.str.split('|').apply(lambda x: list(combinations(x, 2)))
actors_tog.explode('cast').cast.value_counts().index[0]

('Daniel Radcliffe', 'Rupert Grint')

In [74]:
#вариант 2 через счетчик без "взрыва" датасета
cnt_tog = Counter()  # словарь класса Counter для подсчета max количества "встреч" актеров в фильмах 

actors_t = data.cast.str.split('|') 
actors_t_1 = []      # для создания серии со списками пар актеров

for i in range (0, len(actors_t)):
    actors_t_1.append (list(combinations (actors_t[i], 2)))

for i in range (0, len (actors_t_1)):
    cnt_tog.update (actors_t_1[i])   
 
cnt_tog.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27